{% extends "base.html" %}

{% block title %}Rat News Network{% endblock %}

{% block extra_head %}
<meta property="og:title" content="Rat News Network">
<meta property="og:description" content="Journalism for Rats, by Rats.">
{% if articles|length > 0 %}
{% set img_path = articles[0].img_path %}
{% else %}
{% set img_path = "rat-news-network-logo.png" %}
{% endif %}
<meta property="og:image" content="https://ratnewsnetwork.com/static/img/rat-news-network-logo.png">
<meta property="og:url" content="https://ratnewsnetwork.com/">
<meta property="og:type" content="article">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" href="static/img/favicon/apple-touch-icon.png">

<!-- Android Chrome Icons -->
<link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="static/img/favicon/android-chrome-512x512.png">

<!-- Web App Manifest -->
<link rel="manifest" href="site.webmanifest">

{% endblock %}

{% block content %}
    <div class="container frontpage">
        {% for article in articles %}
        {% set articlesize = "md" if (loop.index0 % 2 == 0) else "sm" %}
        <div class="preview">
            <a href="{{article.article_id}}">
                <img src="static/img/{{article.img_path or 'https://ratnewsnetwork.com/static/img/rat-news-network-logo.png'}}" alt="article image">
            </a>
            <a class="preview-body" href="{{article.article_id or article.id}}">
                <h1>{{article.title}}</h1>
                <p>{{article.overview}}</p>
                {% if article.reading_time_minutes %}
                <span class="read-time">{{article.reading_time_minutes}} min read</span>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
