{% extends "base.html" %}

{% block title %}{{title}} - Rat News Network{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="container subscribe-page">
    <div class="subscription-package">
        <h1>Basic Rat</h1>
        <i>Street-level squeaks for everyday rats.</i>
        <div class="subscription-features">

        </div>
        <div class="subscription-price">
            <h2>FREE</h2>
        </div>
        <button class="subscription-buy-btn">Seal the Squeal</button>
    </div>
    <div class="subscription-package">
        <h1>Premium Rat</h1>
        <i>Tailored cheese for discerning tails.</i>
        <div class="subscription-price">
            <h2>🧀¢9.99/mo</h2>
        </div>
    </div>
    <div class="subscription-package">
        <h1>Big Cheese</h1>
        <i>All the gouda, none of the traps.</i>
        <div class="subscription-price">
            <h2>🧀¢29.99/mo</h2>
        </div>
    </div>
</div>

{% endblock %}